<!DOCTYPE html>
<!--
Template Name: Admin Lab Dashboard build with Bootstrap v2.3.1
Template Version: 1.2
Author: Mosaddek Hossain
Website: http://thevectorlab.net/
-->

<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title><%=title%></title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="<%= baseUrl%>plugins/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/css/style.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/css/style_gray.css" rel="stylesheet" id="style_color" />
	<link href="<%= baseUrl%>plugins/css/style_responsive.css" rel="stylesheet" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="index.html">
				    <img src="<%= baseUrl%>plugins/images/logo.png" alt="Admin Lab" />
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="arrow"></span>
				</a>

                <div class="top-nav ">
                    <ul class="nav pull-right top-menu" >
						<!-- BEGIN USER LOGIN DROPDOWN -->
						<li class="dropdown">
							<% if(session){%>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="<%= baseUrl%>plugins/images/default.png" alt="avator">
                             <span class="username"><%=session.username%></span>
							<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-user"></i>账号管理</a></li>
								<li><a href="#"><i class="icon-tasks"></i>我的权限</a></li>
								<li class="divider"></li>
								<li><a href="/users/loginout"><i class="icon-key"></i>退出</a></li>
							</ul>
							<%}else{%>
								
							<%}%>	

						</li>
						<!-- END USER LOGIN DROPDOWN -->
					</ul>
					<!-- END TOP NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div id="sidebar" class="nav-collapse collapse">
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<div class="navbar-inverse">
				<form class="navbar-search visible-phone">
					<input type="text" class="search-query" placeholder="Search" />
				</form>
			</div>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="sidebar-menu">
				<li class="has-sub">
					<a href="javascript:;" class="">
					    <span class="icon-box"> <i class="icon-dashboard"></i></span> 项目管理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li class="active"><a class="" href="index.html">站点管理</a></li>
                        <li><a class="" href="index_2.html">系统接口</a></li>
                        <li><a class="" href="#">数据统计</a></li>
                    </ul>
				</li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					    <span class="icon-box"> <i class="icon-book"></i></span> 项目列表
					    <span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="ui_elements_general.html">太湖湾英文站</a></li>
						<li><a class="" href="ui_elements_buttons.html">雪堰旅游网</a></li>
					</ul>
				</li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					<span class="icon-box"><i class="icon-file-alt"></i></span>信息管理
					<span class="arrow"></span>
					</a>
                    <ul class="sub">
                        <li><a class="" href="blank.html">文章管理</a></li>
                        <li><a class="" href="sidebar_closed.html">文章审核</a></li>
                        <li><a class="" href="coming_soon.html">发布管理</a></li>
                        <li><a class="" href="blog.html">评论管理</a></li>
                        <li><a class="" href="about_us.html">投票管理</a></li>
                        <li><a class="" href="contact_us.html">快速发布</a></li>
                    </ul>
				</li>
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class="icon-tasks"></i></span> 模板管理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="form_layout.html">模板列表</a></li>
                        <li><a class="" href="form_component.html">文件管理</a></li>
                    </ul>
                </li>
				<li class="has-sub">
	               <a href="javascript:;" class="">
	               <span class="icon-box"><i class="icon-fire"></i></span> 专题管理
	               <span class="arrow"></span>
	               </a>
	               <ul class="sub">
	                  <li><a class="" href="font_awesome.html">专题内容管理</a></li>
                      <li><a class="" href="glyphicons.html">专题模板管理</a></li>
	               </ul>
	            </li>
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class="icon-cloud"></i></span> 信息源管理
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="lock.html">关键词管理</a></li>
                        <li><a class="" href="profile.html">数据管理</a></li>
                    </ul>
                </li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					<span class="icon-box"><i class="icon-cogs"></i></span> 系统管理
					<span class="arrow"></span>
					</a>
					<ul class="sub">
                        <li><a class="" href="calendar.html">用户管理</a></li>
                        <li><a class="" href="data_table.html">权限管理</a></li>
                        <li><a class="" href="data_table.html">日志管理</a></li>
                    </ul>
				</li>
				<li>
					<% if(session){%>
						<a class="" href="/users/loginout"><span class="icon-box"><i class="icon-user"></i></span>注销账号</a></li>
					<%}else{%>
						<a class="" href="/users/login"><span class="icon-box"><i class="icon-user"></i></span>点此登录</a></li>
					<%}%>			
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div id="main-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							首页
							<small> 简洁&快速的内容管理工具 </small>
						</h3>
						<ul class="breadcrumb">
							<li>
                                <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
							</li>
                            <li>
                                <a href="#">RattleCms</a> <span class="divider">&nbsp;</span>
                            </li>
							<li><a href="#">首页</a><span class="divider-last">&nbsp;</span></li>
                            <li class="pull-right search-wrap">
                                <form class="hidden-phone">
                                    <div class="search-input-area">
                                        <input id=" " class="search-query" type="text" placeholder="查找">
                                        <i class="icon-search"></i>
                                    </div>
                                </form>
                            </li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div id="page" class="dashboard">
                    <!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
                    <div class="row-fluid circle-state-overview">
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-user turquoise-color"></i>
                                    </div>
                                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="35" data-fgColor="#4CC5CD" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number">+33</div>
                                    <div class="title">New Users</div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-tags red-color"></i>
                                    </div>
                                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="65" data-fgColor="#e17f90" data-bgColor="#ddd"/>
                                </div>
                                <div class="details">
                                    <div class="number">987$</div>
                                    <div class="title">Sales</div>
                                </div>

                            </div>
                        </div>


                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-shopping-cart green-color"></i>
                                    </div>
                                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="30" data-fgColor="#a8c77b" data-bgColor="#ddd"/>
                                </div>
                                <div class="details">
                                    <div class="number">+320</div>
                                    <div class="title">New Orders</div>
                                </div>

                            </div>
                        </div>

                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-comments-alt gray-color"></i>
                                    </div>
                                    <input class="knob"  data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="15"  data-fgColor="#b9baba" data-bgColor="#ddd"/>
                                </div>
                                <div class="details">
                                    <div class="number">387</div>
                                    <div class="title">Comments</div>
                                </div>

                            </div>
                        </div>

                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-eye-open purple-color"></i>
                                    </div>
                                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="45" data-fgColor="#c8abdb" data-bgColor="#ddd"/>
                                </div>
                                <div class="details">
                                    <div class="number">+987</div>
                                    <div class="title">Unique Visitor</div>
                                </div>

                            </div>
                        </div>


                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-bar-chart blue-color"></i>
                                    </div>
                                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="25" data-fgColor="#93c4e4" data-bgColor="#ddd"/>
                                </div>
                                <div class="details">
                                    <div class="number">478</div>
                                    <div class="title">Updates</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END OVERVIEW STATISTIC BLOCKS-->

					<!-- BEGIN SQUARE STATISTIC BLOCKS-->
                    <div class="square-state">
                        <div class="row-fluid">
                            <a class="icon-btn span2" href="#">
                                <i class="icon-group"></i>
                                <div>Users</div>
                                <span class="badge badge-important">2</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-barcode"></i>
                                <div>Products</div>
                                <span class="badge badge-success">4</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-bar-chart"></i>
                                <div>Reports</div>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-calendar"></i>
                                <div>Calendar</div>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-sitemap"></i>
                                <div>Categories</div>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-tasks"></i>
                                <div>Task</div>
                                <span class="badge badge-important">3</span>
                            </a>
                        </div>
                        <div class="row-fluid">
                            <a class="icon-btn span2" href="#">
                                <i class="icon-envelope"></i>
                                <div>Inbox</div>
                                <span class="badge badge-info">12</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-bullhorn"></i>
                                <div>Notification</div>
                                <span class="badge badge-warning">3</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-plane"></i>
                                <div>Projects</div>
                                <span class="badge badge-info">21</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-money"></i>
                                <div>Finance</div>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-thumbs-up"></i>
                                <div>Feedback</div>
                                <span class="badge badge-info">2</span>
                            </a>
                            <a class="icon-btn span2" href="#">
                                <i class="icon-wrench"></i>
                                <div>Settings</div>
                            </a>
                        </div>
                    </div>
                    <!-- END SQUARE STATISTIC BLOCKS-->
					<div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-tags"></i> Recent Order List</h4>
                                        <span class="tools">
                                        <a href="javascript:;" class="icon-chevron-down"></a>
                                        <a href="javascript:;" class="icon-remove"></a>
                                        </span>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                        <tr>
                                            <th><i class="icon-leaf"></i> <span class="hidden-phone">From</span></th>
                                            <th><i class="icon-user"></i> <span class="hidden-phone ">Contact</span></th>
                                            <th><i class="icon-tags"> </i><span class="hidden-phone">Amount</span></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="highlight">
                                                <div class="info"></div>
                                                <a href="#">ABC</a>
                                            </td>
                                            <td>Mosaddek Hossain</td>
                                            <td>120.00$
                                                <span class="label label-success label-mini">Paid</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a>
                                            </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <a href="#">Lorem</a>
                                            </td>
                                            <td>Dulal khan</td>
                                            <td>2000.50$
                                                <span class="label label-success label-mini">Paid</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="#">Dolor imit</a>
                                            </td>
                                            <td>Rafiqul Ismal</td>
                                            <td>490.50$
                                                <span class="label label-warning label-mini">Pending</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="important"></div>
                                                <a href="#">ABC</a>
                                            </td>
                                            <td>Sumon Ahmed</td>
                                            <td>1000.00$ <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="#">Vector lab</a>
                                            </td>
                                            <td>Mosaddek</td>
                                            <td>4890.60$
                                                <span class="label label-warning label-mini">Paid</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <a href="#">Ipsum</a>
                                            </td>
                                            <td>Rafiqul Islam</td>
                                            <td>3201.60$
                                                <span class="label label-success label-mini">Pending</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="important"></div>
                                                <a href="#">ABC</a>
                                            </td>
                                            <td>Dulal Khan</td>
                                            <td>500.00$ <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <a href="#">Vector lab</a>
                                            </td>
                                            <td>Mosaddek Hossain</td>
                                            <td>5501.00$
                                                <span class="label label-success label-mini">Paid</span>
                                                <a href="#" class="btn btn-mini visible-phone hidden-tablet">View</a> </td>
                                            <td><a href="#" class="btn btn-mini hidden-phone hidden-tablet">View</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="space7"></div>
                                    <div class="clearfix">
                                        <a href="#" class="btn btn-mini pull-right">All Orders</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>

					</div>
					<div class="row-fluid">

                        <div class="span5">
                            <!-- BEGIN NOTIFICATIONS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-bell"></i> Notifications</h4>
									<span class="tools">
									<a href="javascript:;" class="icon-chevron-down"></a>
									<a href="javascript:;" class="icon-remove"></a>
									</span>
                                </div>
                                <div class="widget-body">
                                    <ul class="item-list scroller padding" data-height="365" data-always-visible="1">
                                        <li>
                                            <span class="label label-success"><i class="icon-bell"></i></span>
                                            <span>New user registered.</span>
                                            <span class="small italic">Just now</span>
                                        </li>
                                        <li>
                                            <span class="label label-success"><i class="icon-bell"></i></span>
                                            <span>New order received.</span>
                                            <span class="small italic">15 mins ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Alerting a user account balance.</span>
                                            <span class="small italic">2 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Alerting administrators staff.</span>
                                            <span class="small italic">11 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Messages are not sent to users.</span>
                                            <span class="small italic">14 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Web server #12 failed to relosd.</span>
                                            <span class="small italic">2 days ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-success"><i class="icon-bell"></i></span>
                                            <span>New order received.</span>
                                            <span class="small italic">15 mins ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Alerting a user account balance.</span>
                                            <span class="small italic">2 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Alerting administrators staff.</span>
                                            <span class="small italic">11 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Messages are not sent to users.</span>
                                            <span class="small italic">14 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Web server #12 failed to relosd.</span>
                                            <span class="small italic">2 days ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-success"><i class="icon-bell"></i></span>
                                            <span>New order received.</span>
                                            <span class="small italic">15 mins ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Alerting a user account balance.</span>
                                            <span class="small italic">2 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Alerting administrators support staff.</span>
                                            <span class="small italic">11 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-important"><i class="icon-bolt"></i></span>
                                            <span>Messages are not sent to users.</span>
                                            <span class="small italic">14 hrs ago</span>
                                        </li>
                                        <li>
                                            <span class="label label-warning"><i class="icon-bullhorn"></i></span>
                                            <span>Web server #12 failed to relosd.</span>
                                            <span class="small italic">2 days ago</span>
                                        </li>
                                    </ul>
                                    <div class="space5"></div>
                                    <a href="#" class="pull-right">View all notifications</a>
                                    <div class="clearfix no-top-space no-bottom-space"></div>
                                </div>
                            </div>
                            <!-- END NOTIFICATIONS PORTLET-->
                        </div>
                    </div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div id="footer">
		2016 &copy; RattleCms of ezhandi.
		<div class="span pull-right">
			<span class="go-top"><i class="icon-arrow-up"></i></span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS -->
	<!-- Load javascripts at bottom, this will reduce page load time -->
	<script src="<%= baseUrl%>plugins/js/jquery-1.8.3.min.js"></script>
	<script src="<%= baseUrl%>plugins/assets/jquery-slimscroll/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="<%= baseUrl%>plugins/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- ie8 fixes -->
	<!--[if lt IE 9]>
	<script src="js/excanvas.js"></script>
	<script src="js/respond.js"></script>
	<![endif]-->
	<script src="<%= baseUrl%>plugins/assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="<%= baseUrl%>plugins/js/scripts.js"></script>
	<script>
		jQuery(document).ready(function() {
			// initiate layout and plugins
			App.setMainPage(true);
			App.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>