<!DOCTYPE html>
<!--
Template Name: Admin Lab Dashboard build with Bootstrap v2.3.1
Template Version: 1.2
Author: Mosaddek Hossain
Website: http://thevectorlab.net/
-->

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title><%=title%></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
	<link href="<%= baseUrl%>plugins/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="<%= baseUrl%>plugins/css/style.css" rel="stylesheet" />
  <link href="<%= baseUrl%>plugins/css/style_responsive.css" rel="stylesheet" />
	<link href="<%= baseUrl%>plugins/css/style_gray.css" rel="stylesheet" id="style_color" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body id="login-body">
  <div class="login-header">
      <!-- BEGIN LOGO -->
      <div id="logo" class="center">
          <img src="<%= baseUrl%>plugins/images/logo.png" alt="logo" class="center" />
      </div>
      <!-- END LOGO -->
  </div>


         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  <h3 class="page-title">
                     RattleCms
                     <small>更快,更简单</small>
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                       </li>
                       <li><a href="#">注册</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                  <div class="widget box blue" id="form_wizard_1">
                     <div class="widget-title">
                        <h4>
                           <i class="icon-reorder"></i> 申请管理 - <span class="step-title"> 1 / 4</span>
                        </h4>
                     </div>
                     <div class="widget-body form">
                        <form action="#" class="form-horizontal">
                           <div class="form-wizard">
                              <div class="navbar steps">
                                 <div class="navbar-inner">
                                    <ul class="row-fluid">
                                       <li class="span3">
                                          <a href="#tab1" data-toggle="tab" class="step active">
                                          <span class="number">1</span>
                                          <span class="desc"><i class="icon-ok"></i> 第一步</span>
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab2" data-toggle="tab" class="step">
                                          <span class="number">2</span>
                                          <span class="desc"><i class="icon-ok"></i> 第二步</span>
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab3" data-toggle="tab" class="step">
                                          <span class="number">3</span>
                                          <span class="desc"><i class="icon-ok"></i> 第三步</span>
                                          </a>
                                       </li>
                                       <li class="span3">
                                          <a href="#tab4" data-toggle="tab" class="step">
                                          <span class="number">4</span>
                                          <span class="desc"><i class="icon-ok"></i> 完成</span>
                                          </a> 
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div id="bar" class="progress progress-striped">
                                 <div class="bar"></div>
                              </div>
                              <div class="tab-content">
                                 <div class="tab-pane active" id="tab1">
                                    <h3>1.设置账号</h3>
                                    <div class="control-group">
                                       <label class="control-label">管理名称</label>
                                       <div class="controls">
                                          <input type="text" class="span6" id="sq_username"/>
                                          <span class="help-inline">填写你的账号</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">密码</label>
                                       <div class="controls">
                                          <input type="password" class="span6" id="sq-password"/>
                                          <span class="help-inline">请填写密码</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">请确认密码</label>
                                       <div class="controls">
                                          <input type="password" class="span6" id="sq-confirmpw"/>
                                          <span class="help-inline">确认密码</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="tab-pane" id="tab2">
                                    <h4>2.填写信息</h4>
                                    <div class="control-group">
                                       <label class="control-label">您的姓名</label>
                                       <div class="controls">
                                          <input type="text" class="span6" id="realname"/>
                                          <span class="help-inline">请填写真实姓名</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">联系号码</label>
                                       <div class="controls">
                                          <input type="tel" class="span6" id="phonenum"/>
                                          <span class="help-inline">填写手机号码</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">邮箱</label>
                                       <div class="controls">
                                          <input type="email" class="span6" id="sq-email"/>
                                          <span class="help-inline">请填写邮箱</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="tab-pane" id="tab3">
                                    <h4>3.设置头像</h4>
                                    <div class="control-group">
                                    	<!--crop Handler-->
																	  	<div id="clipArea"></div>
																	  	<div class="uploadModel">
																	  		<button type="button" class="btn btn-inverse">上传图片</button>
																				<input type="file" id="file" accept="image/*">
																	  	</div>

																			<!--crop Handler End-->
                                    </div>
                                 </div>
                                 <div class="tab-pane" id="tab4">
                                    <h4>4.确认提交</h4>
                                    <div class="control-group">
                                       <label class="control-label">头像:</label>
                                       <div class="controls">
																					<div id="view"></div>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">账号名称:</label>
                                       <div class="controls">
                                          <span class="text">Mosaddek Hossain</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">密码:</label>
                                       <div class="controls">
                                          <span class="text">adminAdmin</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">邮箱:</label>
                                       <div class="controls">
                                          <span class="text">dkmosa@gmail.com</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">联系方式:</label>
                                       <div class="controls">
                                          <span class="text">123456789</span>
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label"></label>
                                       <div class="controls">
                                          <label class="checkbox">
                                          <input type="checkbox" value="" /> 我已确认填写内容
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-actions clearfix">
                                 <a href="javascript:;" class="btn button-previous">
                                 <i class="icon-angle-left"></i> 上一步 
                                 </a>
                                 <a href="javascript:;" class="btn btn-primary blue button-next">
                                 		下一步 <i class="icon-angle-right"></i>
                                 </a>
                                 <a href="javascript:;" class="btn btn-primary blue" id="clipBtn" style="display: none;">
                                 		裁取头像
                                 </a>
                                 <a href="javascript:;" class="btn btn-success button-submit">
                                 		提交申请 <i class="icon-ok"></i>
                                 </a>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  



  <!-- BEGIN COPYRIGHT -->
  <div id="login-copyright">
      2013 &copy; Admin Lab Dashboard.
  </div>
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script src="<%= baseUrl%>plugins/js/jquery-1.8.3.min.js"></script>
   <script src="<%= baseUrl%>plugins/js/mock.js"></script>   
   <script src="<%= baseUrl%>plugins/assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="<%= baseUrl%>plugins/assets/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
	 <script src="<%= baseUrl%>plugins/js/crop/iscroll-zoom.js"></script>
 	 <script src="<%= baseUrl%>plugins/js/crop/hammer.js"></script>
	 <script src="<%= baseUrl%>plugins/js/crop/jquery.photoClip.js"></script>
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   <script src="<%= baseUrl%>plugins/js/scripts.js"></script>   
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         App.init();
				//crop init
				$("#clipArea").photoClip({
					width: 200,
					height: 200,
					file: "#file",
					view: "#view",
					ok: "#clipBtn",
					loadStart: function() {
						console.log("照片读取中");
					},
					loadComplete: function() {
						console.log("照片读取完成");
					},
					clipFinish: function(dataURL) {
						console.log(dataURL);
					}
				});
      });
   </script>
</body>
<!-- END BODY -->
</html>